@model Student_CRUD_Web_App.Models.StudentModel

<h2>Student Details</h2>

<p><b>ID:</b> @Model.ID</p>
<p><b>Name:</b> @Model.Name</p>
<p><b>Address:</b> @Model.Address</p>

<a asp-action="Index">Back</a>

